<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>MapaWOT</title>

    <!-- slider stylesheet -->
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet"/>
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index">
            <span>
              MapaWOT
            </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="index">Strona główna <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="about"> Więcej informacji </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Zarejestruj się</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Wojska WOT
                                            </h1>
                                            <h2>
                                                Zawsze gotowi, zawsze blisko
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Zacznij już dziś!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Wojska WOT
                                            </h1>
                                            <h2>
                                                Zawsze gotowi, zawsze blisko
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Zacznij już dziś!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Wojska WOT
                                            </h1>
                                            <h2>
                                                Zawsze gotowi, zawsze blisko
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Zacznij już dziś!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Wojska WOT
                                            </h1>
                                            <h2>
                                                Zawsze gotowi, zawsze blisko
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Zacznij już dziś!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Wojska WOT
                                            </h1>
                                            <h2>
                                                Zawsze gotowi, zawsze blisko
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Zacznij już dziś!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="../static/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<!-- how section -->
<section class="how_section layout_padding">
    <div class="heading_container">
        <h2>
            Jak to działa?
        </h2>
    </div>
    <div class="how_container">
        <div class="box">
            <div class="img-box">
                <svg width="800px" height="800px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 15C9.5 17.2091 11.2909 19 13.5 19H17.5C19.7091 19 21.5 17.2091 21.5 15V9C21.5 6.79086 19.7091 5 17.5 5H13.5C11.2909 5 9.5 6.79086 9.5 9"
                          stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.014 8.46835C14.7204 8.17619 14.2455 8.17737 13.9533 8.47099C13.6612 8.76462 13.6624 9.23949 13.956 9.53165L15.014 8.46835ZM16.971 12.5317C17.2646 12.8238 17.7395 12.8226 18.0317 12.529C18.3238 12.2354 18.3226 11.7605 18.029 11.4683L16.971 12.5317ZM18.029 12.5317C18.3226 12.2395 18.3238 11.7646 18.0317 11.471C17.7395 11.1774 17.2646 11.1762 16.971 11.4683L18.029 12.5317ZM13.956 14.4683C13.6624 14.7605 13.6612 15.2354 13.9533 15.529C14.2455 15.8226 14.7204 15.8238 15.014 15.5317L13.956 14.4683ZM17.5 12.75C17.9142 12.75 18.25 12.4142 18.25 12C18.25 11.5858 17.9142 11.25 17.5 11.25V12.75ZM3.5 11.25C3.08579 11.25 2.75 11.5858 2.75 12C2.75 12.4142 3.08579 12.75 3.5 12.75V11.25ZM13.956 9.53165L16.971 12.5317L18.029 11.4683L15.014 8.46835L13.956 9.53165ZM16.971 11.4683L13.956 14.4683L15.014 15.5317L18.029 12.5317L16.971 11.4683ZM17.5 11.25H3.5V12.75H17.5V11.25Z"
                          fill="#000000"/>
                </svg>
            </div>
            <div class="detail-box">
                <h5>
                    Zarejestruj się
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <svg height="800px" width="800px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #000000;
                        }
                    </style>
                    <g>
                        <path class="st0" d="M426.537,0H179.641c-22.243,0-40.376,18.175-40.376,40.401v129.603h25.221V69.106h277.206V424.46H164.485
                            v-83.887h-25.221v131.034c0,22.192,18.133,40.392,40.376,40.392h246.896c22.192,0,40.375-18.2,40.375-40.392v-129.03V40.401
                            C466.912,18.175,448.728,0,426.537,0z M303.08,478.495c-9.174,0-16.636-7.47-16.636-16.661c0-9.183,7.462-16.653,16.636-16.653
                            c9.158,0,16.686,7.47,16.686,16.653C319.766,471.025,312.247,478.495,303.08,478.495z"/>
                        <polygon class="st0" points="225.739,335.774 358.778,255.289 225.739,174.804 225.739,221.11 45.088,221.11 45.088,289.468
                225.739,289.468 	"/>
                    </g>
                </svg>
            </div>
            <div class="detail-box">
                <h5>
                    Zainstaluj aplikacje

                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <svg height="800px" width="800px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 512 512"  xml:space="preserve">
<style type="text/css">
	.st0{fill:#000000;}
</style>
                    <g>
	<path class="st0" d="M329.364,237.908l42.558-39.905c25.236-23.661,39.552-56.701,39.552-91.292V49.156
		c0.009-13.514-5.53-25.918-14.402-34.754C388.235,5.529,375.833-0.009,362.318,0H149.681c-13.514-0.009-25.926,5.529-34.763,14.401
		c-8.871,8.837-14.41,21.24-14.392,34.754v57.554c0,34.591,14.315,67.632,39.552,91.292l42.55,39.888
		c2.342,2.205,3.678,5.271,3.678,8.492v19.234c0,3.221-1.336,6.279-3.669,8.476l-42.558,39.905
		c-25.237,23.652-39.552,56.701-39.552,91.292v57.554c-0.018,13.515,5.522,25.918,14.392,34.755
		c8.838,8.871,21.249,14.41,34.763,14.401h212.636c13.515,0.009,25.918-5.53,34.755-14.401c8.871-8.838,14.41-21.24,14.402-34.755
		V405.29c0-34.591-14.316-67.64-39.552-91.292l-42.55-39.897c-2.352-2.205-3.678-5.263-3.678-8.484v-19.234
		C325.694,243.162,327.021,240.096,329.364,237.908z M373.946,462.844c-0.009,3.273-1.274,6.056-3.411,8.218
		c-2.162,2.136-4.944,3.402-8.218,3.41H149.681c-3.273-0.009-6.064-1.274-8.226-3.41c-2.136-2.162-3.393-4.945-3.402-8.218V405.29
		c0-24.212,10.026-47.356,27.691-63.91l42.55-39.906c9.914-9.285,15.539-22.273,15.539-35.857v-19.234
		c0-13.592-5.625-26.58-15.547-35.866l-42.542-39.896c-17.666-16.554-27.691-39.69-27.691-63.91V49.156
		c0.009-3.273,1.266-6.055,3.402-8.226c2.162-2.127,4.953-3.394,8.226-3.402h212.636c3.273,0.008,6.056,1.274,8.218,3.402
		c2.136,2.171,3.402,4.952,3.411,8.226v57.554c0,24.22-10.026,47.356-27.692,63.91l-42.55,39.896
		c-9.914,9.286-15.538,22.274-15.538,35.866v19.234c0,13.584,5.625,26.572,15.547,35.874l42.541,39.88
		c17.666,16.563,27.692,39.707,27.692,63.919V462.844z"/>
                        <path class="st0" d="M237.261,378.95l-77.33,77.33h192.128l-77.33-77.33C264.385,368.614,247.615,368.614,237.261,378.95z"/>
</g>
</svg>
            </div>
            <div class="detail-box">
                <h5>
                    Oczekuj na wezwanie
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="800px" height="800px" viewBox="0 0 32 32" xml:space="preserve">
<style type="text/css">
	.stone_een{fill:#0B1719;}
</style>
                    <path class="stone_een" d="M27.149,8.928C24.793,8.524,23,6.471,23,4V3.581c0-0.495-0.357-0.914-0.846-0.988
	C20.765,2.383,17.96,2,16,2s-4.765,0.383-6.154,0.592C9.357,2.666,9,3.086,9,3.581V4c0,2.471-1.793,4.524-4.149,4.928
	C4.364,9.011,4,9.417,4,9.911V20c0,5.479,8.201,8.733,11.044,9.697c0.624,0.211,1.289,0.211,1.913,0C19.799,28.733,28,25.479,28,20
	V9.911C28,9.417,27.636,9.011,27.149,8.928z M26.5,16h-10v12.5c0,0.276-0.224,0.5-0.5,0.5s-0.5-0.224-0.5-0.5V16h-10
	C5.224,16,5,15.776,5,15.5S5.224,15,5.5,15h10V3.5C15.5,3.224,15.724,3,16,3s0.5,0.224,0.5,0.5V15h10c0.276,0,0.5,0.224,0.5,0.5
	S26.776,16,26.5,16z"/>
</svg>
            </div>
            <div class="detail-box">
                <h5>
                    BROŃ KRAJU
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
            </div>
        </div>
    </div>
    <div class="btn-box">
        <a href="">
            Dowiedz się więcej
        </a>
    </div>
</section>
<!-- end how section -->

<!-- about section -->

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Czym jest MapaWOT?
            </h2>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="../static/images/mapa-swiata.jpg" alt="">
            </div>
            <div class="detail-box">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim
                </p>
                <div class="btn-box">
                    <a href="">
                        Dowiedz się więcej
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->

<!-- app section -->

<section class="app_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        Nasza aplikacja łączy nas wszystkich
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                    <div class="download_box">
                        <h5>
                            Pobierz teraz
                        </h5>
                        <div class="btn-box">
                            <a href="">
                                <img src="../static/images/play-store.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../static/images/slider-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end app section -->


<!-- auto section -->

<section class="auto_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Aplikuj do WOT już teraz
            </h2>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="../static/images/picture-1.jpg" alt="">
            </div>
            <div class="detail-box">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim
                </p>
                <div class="btn-box">
                    <a href="">
                        Zarejestruj się już teraz
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end auto section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Nasze wartości
            </h2>
        </div>
        <div class="box">
            <div class="b-1">
                <div class="client_id">
                    <div class="img-box">
                        <img src="../static/images/client-1.jpg" alt="">
                    </div>
                    <div class="name">
                        <h5>
                            Profesjonalizm
                        </h5>
                        <h6>
                            Działaj z najlepszymi
                        </h6>
                    </div>
                </div>
            </div>
            <div class="client_detail">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem
                </p>
            </div>
        </div>
        <div class="box">
            <div class="client_id">
                <div class="img-box">
                    <img src="../static/images/client-2.jpg" alt="">
                </div>
                <div class="name">
                    <h5>
                        Braterstwo
                    </h5>
                    <h6>
                        Łączymy siły
                    </h6>
                </div>
            </div>
            <div class="client_detail">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem
                </p>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Dowiedz się więcej
            </a>
        </div>
    </div>
</section>


<!-- end client section -->

<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_contact">
                    <div class="info_logo">
                        <a href="index">
                <span>
                  MapaWOT
                </span>
                        </a>
                    </div>
                    <h5>
                        Kontakt
                    </h5>
                    <div>
                        <div class="img-box">
                            <img src="../static/images/location.png" width="18px" alt=""/>
                        </div>
                        <p>
                            Page when looking at its layou
                        </p>
                    </div>
                    <div>
                        <div class="img-box">
                            <img src="../static/images/phone.png" width="18px" alt=""/>
                        </div>
                        <p>
                            +01 1234567890
                        </p>
                    </div>
                    <div>
                        <div class="img-box">
                            <img src="../static/images/envelope.png" width="18px" alt=""/>
                        </div>
                        <p>
                            253463@edu.p.lodz.pl
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_info">
                    <h5>
                        Broń demokracji
                    </h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration
                        in some form, by injected humour,
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info_links">
                    <h5>
                        Przydatne linki
                    </h5>
                    <ul>
                        <li>
                            <a href="https://terytorialsi.wp.mil.pl/">
                                Terytorialsi
                            </a>
                        </li>
                        <li>
                            <a href="https://www.wojsko-polskie.pl/">
                                Wojsko Polskie
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_form ">
                    <h5>
                        Newsletter
                    </h5>
                    <form action="">
                        <input type="email" placeholder="Wpisz swój Email"/>
                        <button>
                            Subskrybuj
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- owl carousel script
  -->
<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 0,
        navText: [],
        center: true,
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 3
            }
        }
    });
</script>
<!-- end owl carousel script -->
</body>

</html>